/** Header **/

.ab-body {
    background-color: #F7EEDD;
    margin: 1px 0 1px 0;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: .5em;
  border: 1px blue dashed;
  color: #BE75CB;
}

#site-title {
    text-align: center;
    font-weight: bold;
}

#site-title a:hover {
    text-decoration: none;
}

#site-title a {
    color: black;
}

#ab-title-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ab-header-button {
    float: right;
    margin: 0 5px;
}

.ab-header-tabs {
    border-width: 2px;
    border-bottom-style: solid;
}

/** End Header **/

/** Body **/

#primary {
    padding: 0.5em 2em;
}

/** End Body **/

/** Navigation **/

.ab-nav {
    list-style-type: none;
}

.ab-nav li {
    float: right;
    padding: 0 5px;
    border-radius: 10px 10px 0 0;
}

.ab-nav li:nth-child(odd) {
    background-color: #99CCFF;
}

.ab-nav li:nth-child(even) {
    background-color: #31659C;
}

.ab-nav li a {
    display: block;
    color: white;
}

/** End Navigation **/

/** Pagination **/

.pagination li {
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

.pagination .page-input input {
    width: 2.5rem;
    text-align: center;
    margin: 0;
    min-height: 36px;
    border-color: #ddd;
    border-width: 0.0625em;
    border-style: solid;
}

.pagination .pagination_previous a, .pagination .pagination_next a {
    background-color: #eaeaea;
    padding-bottom: 0.5em;
    display: block;
    min-height: 36px;
    padding: 0.375em;
    margin-bottom: 0.5em;
    border: 0;
    line-height: 24px;
}

.pagination_previous a, .pagination_next a {
    text-indent: -9999px;
    position: relative;
    width: 36px;
    text-align: center;
}

.pagination_next a:after, .pagination_previous a:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-indent: 0;
}

.pagination_previous a:after {
    content: url(../images/left-arrow.png);
}

.pagination_next a:after {
    content: url(../images/right-arrow.png);
}

/** End Pagination **/

/** Sorting **/

ul#sort-links-list {
    padding-left: 10px;
}

#sort-links-list li {
    display: inline;
    float: right;
    margin-right: 10px;
}

#sort-links-list li:before {
    content: "\2014\0020";
}

.sort-label {
    float: left;
}

.desc a:after {
    content: url(../images/dropdown-arrow.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    line-height: 10px;
    margin: 0 0 0 5px;
}

.asc a:after {
    content: url(../images/dropup-arrow.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    line-height: 10px;
    margin: 0 0 0 5px;
}

/** End Sorting **/

/** Tables **/

.thead-ab {
    background-color: #EFEFEF;
}

.table-striped-ab tbody tr:nth-of-type(even) {
    background-color: #EFEFEF;
}

.table-striped-ab {
    font-size: small;
}

/** End Tables **/

/** Index **/
.ab-index-title {
    border-width: 1px;
    border-bottom-style: solid;
    margin: 1rem;
    padding-bottom: 0.5rem;
}

.ab-index-subtitle {
    color: rgb(0,0,128);
}

.ab-advanced-search-form input {
    border-width: 1px;
}

.ab-advanced-search-form input, .ab-advanced-search-form select, .ab-advanced-search-form button {
    font-size: small;
    margin: 1px;
}

.ab-lookup-text {
    margin-bottom: 10px;
}

.ab-index-filters {
    text-align: center;
}

.ab-index-letters {
    padding: 0 5px;
    font-size: small;
}

/** End Index **/

/** Posters **/

.table-striped-ab button, .table-striped-ab ul {
    font-size: small;
}

.ab-add-to-poster {
    content: url(../images/add.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    line-height: 10px;
    margin: 0 0 0 5px;
}
/** End Posters **/

/** Random Stuff **/

@media only screen and (max-width: 768px) {

    .ab-mobile-hide {
        display: none;
    }

}

.ab-index-hide {
    display: none;
}

.ab-table th {
    text-align: right;
}

.ab-tags {
    padding: 3rem 6rem !important;
}

.ab-tags li {
    list-style: none;
}

.ab-tags .count {
    color: #212529;
    background-color: #dfe8f1;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    vertical-align: baseline;
    border-radius: .25rem;
    margin: .25em;
}

.ab-header-text {
    margin: 1rem;
    padding-bottom: 0.5rem;
}

/** End Random **/
