/** Header **/

#ab-body {
    background-color: #F7EEDD;
    margin: 1px 0 1px 0;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;
}

#skipnav {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}

#skipnav:focus {
  top: 0;
  z-index: 9999;
  clip: initial;
  height: auto;
  width: auto;
  padding: .5em;
  border: 1px blue dashed;
  color: #BE75CB;
}

#site-title {
    text-align: center;
    font-weight: bold;
}

#ab-title-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ab-header-button {
    float: right;
}

/** End Header **/